[submodule "system/libraries/session"]
	path = system/libraries/session
	url = git@github.com:robertpitt/litephp-session.git
[submodule "system/libraries/simplemail"]
	path = system/libraries/simplemail
	url = git@github.com:robertpitt/litephp-mail.git
