[submodule "system/libraries/session"]
	path = system/libraries/session
	url = https://github.com/lite-php/session-library.git
[submodule "system/libraries/simplemail"]
	path = system/libraries/simplemail
	url = https://github.com/lite-php/simplemail-library.git
[submodule "system/libraries/recaptcha"]
	path = system/libraries/recaptcha
	url = https://github.com/lite-php/recaptcha-library
[submodule "system/libraries/sorter"]
	path = system/libraries/sorter
	url = https://github.com/lite-php/sorting-library.git
[submodule "system/libraries/bcrypt"]
	path = system/libraries/bcrypt
	url = https://github.com/lite-php/bcrypt-library.git
[submodule "system/libraries/csrf"]
	path = system/libraries/csrf
	url = https://github.com/lite-php/csrf-library.git
[submodule "system/libraries/http"]
	path = system/libraries/http
	url = https://github.com/lite-php/http-library.git
